* {
  font-family: Lato, serif;
}

.headline {
  background-image: url("./image/bg-portfolio.png");
}

.floating-navigation {
  padding: .2rem .2rem;
  margin: 2rem;
  border-radius: 5rem;
  background: #fff;
}

.floating-navigation > li {
  border-radius: 4rem;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .5rem 0;
}

.image-container {
  position: relative;
}

.image-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /*background:linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.5));*/
}