* {
  font-family: Lato, serif;
}

.headline {
  background-image: url("./image/bg-portfolio.png");
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.floating-navigation {
  padding: .2rem .2rem;
  margin: 2rem;
  border-radius: 5rem;
  background: #fff;
}

.floating-navigation > li {
  border-radius: 4rem;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .5rem 0;
}